DEBUG=True
SECRET_KEY=secret_key_for_develepment
DB_NAME=gooddeeds
DB_USER=admin
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432
DB_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
BE_PORT=8000
FE_PORT=8080
DOMAIN=localhost
PROTOCOL=http
TIMEZONE=Europe/Warsaw
ACCESS_TOKEN_EXPIRE_MINUTES=180
API_URL=$PROTOCOL://$DOMAIN:$BE_PORT/
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CHANNELS_HOST=redis
CHANNELS_PORT=6379
GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_GOOGLE_OAUTH2_AUTH_URL=
GOOGLE_OAUTH2_TOKEN_URL=
