DEBUG=True
SECRET_KEY=secret_key_for_develepment
DB_NAME=gooddeeds
DB_USER=admin
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432
DB_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
BE_PORT=8000
FE_PORT=8080
DOMAIN=localhost
PROTOCOL=http
TIMEZONE=Europe/Warsaw
ACCESS_TOKEN_EXPIRE_MINUTES=180
API_URL=$PROTOCOL://$DOMAIN:$BE_PORT/
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
REDIS_CACHE_URI=redis://redis:6379/1
CHANNELS_HOST=redis
CHANNELS_PORT=6379
GOOGLE_OAUTH2_KEY=
GOOGLE_OAUTH2_TOKEN_URL=https://oauth2.googleapis.com/token
GOOGLE_OAUTH2_TOKEN_INFO_URI=https://oauth2.googleapis.com/tokeninfo
GOOGLE_OAUTH2_SECRET=
GOOGLE_OAUTH2_CERT_URI=https://www.googleapis.com/oauth2/v1/certs
