@use "../variables" as v;

#login-form {
  background-color: v.$card-bg;
  margin: 10% auto;
  max-width: 60%;
  padding: 5rem;
  border: 3px solid #fff;
  border-radius: 3rem;
  color: v.$card-color;

  h2 {
    margin-bottom: 2rem;
  }
}

#google-login-button {
  width: 60%;
  margin: auto;
}
