$card-bg: #2a3180;
$card-color: #fff;
$submit-button-bg: rgb(28, 196, 6);
$bg: #101030;
$navbar-bg: $card-bg;
$chat-card-bg: #5563ff;
$red-button-bg: #f02929;
$avatar-width: 2.2rem;
$avatar-height: 2.2rem;
$avatar-br: 50%;
$avatar-object-fit: cover;
$avatar-border: 2px solid silver;
